/* App.css */

/* Base styles for the entire app */
body {
  font-family: "Averta CY";
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f9f8f3;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.App h1{
  display: none;
}
.ChatScreen {
  height: 90vh;
  padding: 0vw 5vw 0vw 5w;
  width: 100%;
}
.Trip {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5vw;
  right: 0;
  width: auto;
  background-color: #f9f8f3;
  z-index: 2;
}
.Trip .trip-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vw;
}
.trip-nav .back {
  display: flex;
  align-items: center;
  text-align: center;
}

.Trip .trip-nav h1 {
  font-weight: 400;
  word-spacing: -1vw;
  font-size: 7vw;
  padding-left: 3vw;
}
.Trip p {
  font-weight: 300;
  font-size: 4.2vw;
  letter-spacing: 0.12vw;
}
.header {
  display: flex;
  align-items: center;
}
.header img {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
  margin-right: 5vw;
}
.linebreak {
  margin-left: -5vw;
  width: 100vw;
}
.ChatComponent {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  overflow-y: scroll;
  top: 45vw;
  left: 0;
  bottom: 25vw;
  padding: 5vw 5vw 5vw 0vw;
  order: -1;
}
.ChatComponent > .date-seprator {
 order: 99;  
}
.ChatComponent .other-chat {
  display: flex;
  flex-direction: row;
}
.ChatComponent img {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
}
.badge .kyc-badge img {
  object-fit: cover;
  width: 3vw;
  height: 3vw;
}
.other-chat {
  display: flex;
  padding: 5vw 7vw 0vw 0vw;
  align-items: top;
}
.other-chat .OtherChatBubble {
  margin-left: 2vw;
}

.self-chat {
  display: flex;
  padding: 5vw 0vw 0vw 10vw;
}
.self-chat img {
  display: none;
}

.OtherChatBubble {
  background-color: white;
  border-radius: 3vw;
  border-top-left-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 2vw;
}
.OtherChatBubble p {
  color: #7b7b7b;
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.13vw;
  word-spacing: 0.2vw;
  margin: -1px 0px;
}

.SelfChatBubble {
  background-color: rgb(0, 120, 254);
  color: white;
  border-radius: 3vw;
  border-bottom-right-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 2vw;
}
.SelfChatBubble p {
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.13vw;
  word-spacing: 0.1vw;
  margin: 0vw 1vw;
}
.self-chat .badge {
  display: none;
}
.reply {
  /* background-color: #f9f8f3; */

  position: absolute;
  width: 100%;
  height: 20vw;
  bottom: 5vw;
  right: 0;
  z-index: 1;
}
.reply .frame {
  align-items: center;
  position: relative;
  background-color: #ffffff;
  margin: 3vw;
  border-radius: 5vw;
  padding: 4vw 5vw 4vw 5vw;
  display: flex;
  justify-content: space-between;
}
.reply .icon-div {
  min-width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.reply .icon-div button {
  background-color: transparent;
  border: none;
}
.reply .text-div input {
  border: none;
  font-size: 3.5vw;
}
.reply .text-div input:focus {
  outline: none;
}
.attachmentmenu {
  position: absolute;
  bottom: 12vw;
  right: 3vw;
}
.attachmentmenu .icon {
  color: white;
}
.attachmentmenu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5vw;
  background-color: green;
  border-radius: 7vw;
  gap: 7vw;
}
.attachmentmenu::before {
  content: "";
  position: absolute;
  border: 2vw solid transparent;
  border-top-color: green;
  border-bottom: 0;
  bottom: 2.4vw;
  right: 18vw;
}
.no {
  display: none;
}
.date-bubble{
  display: flex;
  justify-content: center;
} 
@media screen and (min-width: 100vh) {
  /* The width is greater than the height */
  .App h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
  }
  .ChatScreen{
    display: none;
  }
  
}